.monthly-breakdown {
    position: absolute;
    top: 113px;
    left: calc(50% - 316px);
    font-size: 60px;
    font-family: Lato;
    display: inline-block;
    width: 632px;
    height: 57px;
}
.total-hours-volunteered-child {
    position: absolute;
    top: 214.5px;
    left: 200.5px;
    border-right: 3px solid #000;
    box-sizing: border-box;
    width: 3px;
    height: 491px;
}
.total-hours-volunteered-item {
    position: absolute;
    top: 699px;
    left: 202px;
    width: 946px;
    height: 5.1px;
    object-fit: contain;
}
.p {
    margin: 0;
}
.div13 {
    position: absolute;
    top: 214px;
    left: 96px;
    letter-spacing: 0.1em;
    text-align: right;
    display: inline-block;
    width: 83px;
    height: 558px;
}
.j-f-m {
    position: absolute;
    top: 717px;
    left: 205px;
    letter-spacing: 0.18em;
    text-align: left;
    display: inline-block;
    width: 943px;
    height: 69px;
}
.icon15 {
    width: 24px;
    position: relative;
    height: 24px;
}
.state-layer12 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.container12 {
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.trailing-icon-button12 {
    position: absolute;
    top: 62px;
    left: 1244px;
    width: 51px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.total-hours-volunteered-inner {
    position: absolute;
    top: 539px;
    left: 225px;
    border-radius: 50%;
    background-color: #868a5a;
    width: 30px;
    height: 30px;
}
.total-hours-volunteered-child1 {
    position: absolute;
    top: 583px;
    left: 288px;
    border-radius: 50%;
    background-color: #868a5a;
    border: 1px solid #868a5a;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
.total-hours-volunteered-child2 {
    position: absolute;
    top: 613px;
    left: 1089px;
    border-radius: 50%;
    background-color: #868a5a;
    border: 1px solid #868a5a;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
.total-hours-volunteered-child3 {
    position: absolute;
    top: 568px;
    left: 1007px;
    border-radius: 50%;
    background-color: #868a5a;
    border: 1px solid #868a5a;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
.total-hours-volunteered-child4 {
    position: absolute;
    top: 465px;
    left: 931px;
    border-radius: 50%;
    background-color: #868a5a;
    border: 1px solid #868a5a;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
.total-hours-volunteered-child5 {
    position: absolute;
    top: 317px;
    left: 854px;
    border-radius: 50%;
    background-color: #868a5a;
    border: 1px solid #868a5a;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
.total-hours-volunteered-child6 {
    position: absolute;
    top: 379px;
    left: 772px;
    border-radius: 50%;
    background-color: #868a5a;
    border: 1px solid #868a5a;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
.total-hours-volunteered-child7 {
    position: absolute;
    top: 317px;
    left: 692px;
    border-radius: 50%;
    background-color: #868a5a;
    border: 1px solid #868a5a;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
.total-hours-volunteered-child8 {
    position: absolute;
    top: 460px;
    left: 612px;
    border-radius: 50%;
    background-color: #868a5a;
    border: 1px solid #868a5a;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
.total-hours-volunteered-child9 {
    position: absolute;
    top: 460px;
    left: 525px;
    border-radius: 50%;
    background-color: #868a5a;
    border: 1px solid #868a5a;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
.total-hours-volunteered-child10 {
    position: absolute;
    top: 495px;
    left: 445px;
    border-radius: 50%;
    background-color: #868a5a;
    border: 1px solid #868a5a;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
.total-hours-volunteered-child11 {
    position: absolute;
    top: 684px;
    left: 359px;
    border-radius: 50%;
    background-color: #868a5a;
    width: 30px;
    height: 30px;
}
.line-icon {
    position: absolute;
    top: 554px;
    left: 242px;
    width: 61px;
    height: 44px;
    object-fit: contain;
}
.total-hours-volunteered-child12 {
    position: absolute;
    top: 599px;
    left: 303px;
    width: 71px;
    height: 100px;
    object-fit: contain;
}
.total-hours-volunteered-child13 {
    position: absolute;
    top: 510px;
    left: 375px;
    width: 85px;
    height: 190px;
    object-fit: contain;
}
.total-hours-volunteered-child14 {
    position: absolute;
    top: 475px;
    left: 465px;
    width: 75px;
    height: 37px;
    object-fit: contain;
}
.total-hours-volunteered-child15 {
    position: absolute;
    top: 475px;
    left: 544px;
    width: 83px;
    height: 2px;
    object-fit: contain;
}
.total-hours-volunteered-child16 {
    position: absolute;
    top: 332px;
    left: 629px;
    width: 78px;
    height: 143px;
    object-fit: contain;
}
.total-hours-volunteered-child17 {
    position: absolute;
    top: 334px;
    left: 707px;
    width: 80px;
    height: 60px;
    object-fit: contain;
}
.total-hours-volunteered-child18 {
    position: absolute;
    top: 332px;
    left: 790px;
    width: 79px;
    height: 62px;
    object-fit: contain;
}
.total-hours-volunteered-child19 {
    position: absolute;
    top: 335px;
    left: 870px;
    width: 76px;
    height: 145px;
    object-fit: contain;
}
.total-hours-volunteered-child20 {
    position: absolute;
    top: 479px;
    left: 946px;
    width: 76px;
    height: 104px;
    object-fit: contain;
}
.total-hours-volunteered-child21 {
    position: absolute;
    top: 583px;
    left: 1022px;
    width: 82px;
    height: 45px;
    object-fit: contain;
}
.total-hours-volunteered1 {
    width: 1350px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    border: 45px solid #72773f;
    box-sizing: border-box;
    height: 898px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
    font-size: 61px;
    color: #000;
    font-family: Inter;
}

